
.boxed-pokemon-icon {
    max-height: 3rem;
}
.ng-container {
    padding-bottom: 1rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #383840;
    color: #eee;
    margin: 0 auto;
}
.ng-container h3 {
    text-transform: uppercase;
    margin: 0.5rem;
    letter-spacing: 4px;
    text-align: center;
    color: #eee;
}
.result-notes {
    text-align: center;
    margin: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
}
.gender-color-female {
    color: #ffc0cb;
}
.gender-color-male {
    color: #add8e6;
}
.pokemon-container {
    display: inline-flex;
    padding: 1rem;
    position: relative;
}
.pokemon-image-wrapper {
    align-self: center;
}
.trainer-image {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    border: 2px solid rgba(255, 255, 255, 0.3);
    vertical-align: bottom;
}
.trainer-wrapper {
    display: flex !important;
    align-items: center;
    align-content: center;
}
.nuzlocke-title {
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: light;
}
.badge-wrapper {
    width: 216px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: 3rem;
}
.badge-wrapper img {
    height: 1.5rem;
}
.move {
    align-items: center;
    border: 0 solid transparent;
    border-radius: 4px;
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
    margin: 0 0.25rem;
    padding: 0;
    text-align: center;
    width: 100%;
}
.move.long-text-move {
    font-size: 0.7rem;
}
.pokemon-nickname {
    font-size: 1.5rem;
}
.boxed-container,
.dead-container {
    margin: 0 auto;
    margin-top: 1rem;
}
.dead-pokemon-container {
    display: inline-flex !important;
    align-items: center;
    margin-right: 2px;
    background: #333;
    border: 1px solid #010101;
    height: 5.1rem;
    margin-bottom: 0.25rem;
    position: relative;
    width: 19rem;
    vertical-align: middle;
    text-align: left;
}
.dead-pokemon-container[data-league="true"] {
    outline: 1px solid #eee8aa;
}
.dead-pokemon-container[data-league="true"]::after {
    content: "";
    display: block;
    height: 40px;
    width: 35px;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    opacity: 0.8;
}
.pokemon-causeofdeath {
    font-size: 0.8rem;
    display: inline-block;
}
.trainer-container {
    background: #333;
    color: #eee;
    border-bottom: 1px solid #000;
    padding: 0.25rem;
    width: 100%;
    background-size:
        cover,
        50% auto;
    background-position:
        top left,
        bottom left;
}
.trainer-container div {
    text-align: center;
}
.trainer-container div span {
    font-size: 0.8rem;
    letter-spacing: 2px;
}
.team-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.boxed-pokemon-container {
    display: inline-flex !important;
    justify-content: flex-start;
    align-items: center;
    background: #151515;
    border: 1px solid #000;
    border-radius: 4px;
    color: #fff;
    margin: 2px;
    position: relative;
}
.dead-pokemon-info {
    width: 200px;
    vertical-align: top;
    display: inline-block;
    padding: 0.25rem;
    margin: 0.5rem;
}
.dead-container {
    margin-left: 0;
}
.pokemon-d-nickname {
    font-size: 1rem;
    font-weight: light !important;
    margin-right: 0.5rem;
}
.pokemon-d-nickname,
.pokemon-levels {
    display: inline-block;
    font-size: 0.9rem;
    text-align: center;
    text-shadow: none;
}
.dead-pokemon-picture {
    cursor: pointer;
    height: 79px;
    width: 76px;
    background-size: cover;
    background-position: center;
}
.pokemon-levels {
    margin: 0 !important;
}
.boxed-pokemon-info {
    border-left: 1px solid #111;
    display: inline-block;
    padding: 0.5rem;
    top: 0;
    height: 37px;
    font-size: 0.8rem;
}
.pokemon-linked {
    display: flex;
    height: 32px;
    align-items: center;
    border-radius: 0.25rem;
}
.pokemon-checkpoints {
    display: flex;
    max-width: 14rem;
    flex-wrap: wrap;
}
.pokemon-checkpoint {
    height: 24px;
    margin: 0 2px 0 0;
}
.pokemon-checkpoint.not-obtained {
    display: none;
}
.pokemon-checkpoint.obtained {
    display: flex;
}
.not-obtained {
    filter: grayscale(100%);
}
.round {
    border-radius: 50%;
    display: inline-flex;
    width: auto;
    padding: 0.25rem;
    position: relative;
    z-index: 10;
}
.square {
    display: inline-flex;
    width: auto;
    padding: 0.25rem;
    position: relative;
    z-index: 10;
}
.pokemon-image {
    background-size: cover;
    background-position: center center;
    display: inline-block;
    height: 7.5rem;
    width: 7.5rem;
}
.pokemon-image.round {
    border-radius: 50%;
}
.minimal {
    min-width: 17rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.minimal .pokemon-info {
    background: transparent;
    display: flex;
    padding: 0;
    height: auto;
    width: auto;
    margin-left: 0;
    filter: none;
}
.pokemon-info {
    border-radius: 0 4px 4px 0;
    display: inline-block;
    height: auto;
    min-height: 8rem;
    margin-left: -4rem;
    position: relative;
    width: 26rem;
    vertical-align: top;
    filter: drop-shadow(0 0 1px #111);
    padding-left: 4rem;
    border-radius: 0.25rem;
}
.pokemon-info span {
    margin: 0 0.25rem;
}
.boxed-container-inner {
    margin-left: 1rem;
}
.pokemon-info-inner {
    display: inline-block;
    padding: 0.5rem;
    vertical-align: top;
}
.pokemon-moves {
    background: transparent;
    display: flex;
    width: 100%;
}
.pokemon-moves.horizontal {
    height: 2rem;
    width: 100%;
}
.pokemon-moves.vertical {
    height: 8rem;
    width: 23%;
    position: absolute;
    top: 0;
    flex-direction: column;
    right: 6px;
    justify-content: space-evenly;
}
.column {
    flex-direction: column;
    justify-content: center;
}
