.ui-select {
    &,
    &::picker(select) {
        appearance: base-select;
    }
}

.ui-select-option {
    &::checkmark {
        display: none;
    }
}

option {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-top: 1px solid #ccc;
    cursor: pointer;
    transition-property: color, background;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    img {
      width: 30px;
    }
    &:where(:hover, :focus, :active) {
      background: oklch(24% 0.49 242);
      color: white;
    }
    &:checked {
      background: oklch(10% 0.49 242);
      color: white;
    }
    &::checkmark {
      display: none;
    }
    &:first-child {
      border: 0;
    }
  }
